*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Satoshi";
    background-color: gray;
}

/* sing up warning*/

.topo{
    background-color: black;
    color: aliceblue;
    height: 40px;
    padding-top: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;

}

/* sing up warning*/

/*header*/

.cabeca{
    color: white;
}

.hud{
    height: 100px;
}

.BarraDePesquisa{
    background-color: #F0F0F0;
    border:none;
    border-radius:30px;
    width: 600px;
    height: 42px;
    margin-right: 1.5rem;


  }
  
  #txtbusca{
    float:left;
    border-color: none;
    background-color: transparent;
    cursor: pointer;
    padding-left:  10px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size:15px;
    border:none;
    height: 38px;
    width: 550px;
  
  }

.BarraDePesquisa img{
    float:left;
    padding-top: 8px;
    padding-left: 7px;
    padding-bottom: 2px;
    cursor: pointer;
  }

  .navbar{
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    
  }


.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-inner-content-bottom{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.hud{
    background-color: white;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-button{
    display: none;
    cursor: pointer;
    padding-left: 10px;
}

.logo{
    color: black;
    font-weight: 100;
}


nav ul{
   display: flex;
    list-style: none;
    align-items: center;
    padding-top: 43px;
}

nav img {
    cursor: pointer;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    cursor: pointer;
}

.nav-icon-container img{
    margin-left: 10px;
}

.lupa2{
    display: none;
}

nav ul li:first-child{
    padding-left: 10px;
    margin-right: 5px;
}

nav ul img{
    cursor: pointer;
    margin-right: 1.5rem;
}

nav ul li{
    color: #000;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

header{
    background-color: #F2F0F1;
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 663px;
    overflow: hidden;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
    padding-top: 100px;
}

.header-bottom-side-left h2{
    font-family: "Integral CF";
    font-size: 68px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 25px;
}

.header-bottom-side-left p{
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    
}

.header-bottom-side-left button{
    background-color: black;
    color: #F2F0F1;
    border: none;
    cursor: pointer;
    padding: 15px 64px;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s;
    margin-bottom: 40px;
}

.header-bottom-side-left button:hover{
    background-color: #333131;
}


.header-bottom-side-left ul{
    display:flex;
    list-style: none;
    align-items: center;
    font-size: 45px;
    line-height: 54px;
    padding-top: 20px;
    margin-right: 20px;
}
.header-bottom-side-left ul li img{
    padding-bottom: 25px;
}

.header-bottom-side-left ul li{
    list-style: none;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;

}

.header-bottom-side-right{
    height: 100%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    overflow: absolute;
    
}

.header-bottom-side-right ul li{
    display: flex;
    align-items: center;
    list-style: none;
    overflow: absolute;
}

#estrela1{
    overflow:visible;
    position: absolute;
    padding-bottom: 200px;
    padding-right: 500px;
}

#estrela2{
    overflow: visible;
    position: absolute;
    padding-left: 550px;
    padding-bottom: 500px;
}

#casal{
    height: 1000px;
    margin: 0 auto;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-position: center;
    padding-bottom: none;
    padding-top: 50px;
    

}

.header-baseboard-back{
    background-color: #000;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    
    
}

.header-baseboard{
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    display: flex;
    gap: 100px;
    
}

.header-baseboard img {
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/*media queries*/
@media(max-width: 800px){

    body{
        width: 100%;
    }

    .menu-button{
        display: block;
    }

    .nav-icon-container{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .logo{
        align-items: center;
        margin-left: 10px;
    }

    .hud{
        display: none;
    }
    
    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        display: block;
        top: 100px;
    }

    .BarraDePesquisa{
       display: none; 
    }

    .header-inner-content{
        display:block;
        height: 100px;
        width: 100%;
        justify-content: center;

    }

    .header-bottom-side-left button{
        width: 90%;
        align-items: center;
    }

    .header-bottom-side-left{
        align-items: center;
        padding: none;
        margin: none;
    }
    

    .logo{
        margin-right: 500px;
    }

    .header-inner-conten:first-child{
        flex-direction: column;
    }

    
    .show-menu{
        display: none;
    }

    nav{
        position:absolute;
        background: white;
        width: 100%;
        height: 100%;
        top: 25px;
        display: flex;
        display: none;

    }


    nav ul{
        flex-direction: column;
        width: 250px;
        padding-top: 100px;
        padding-right: d;
        background-color: white;
        display: none;
    }
    

    nav ul{
        text-align: center;
    }
    
    nav ul li {
        text-align: center;
        padding-top: 25px;
    }

    .header-inner-content-bottom{
        width: 100%;
    }

    .header-bottom-side{
        flex: column;
        display: flex;
        height: 1500px;
        width: 100%;
    }

    .header-bottom-side-left{
        flex: column;
    }

    .header-bottom-side-right {
        width: 100%;
        height: 600px;
        flex: column;
    }

    .header-baseboard{
        flex: column;
       
    }
    .header-bottom-side-left ul{
        display: flex;
        justify-content: center;
    }

    .header-bottom-side-left ul>div{
        position: absolute;
        margin-top: 200px;
    }
    
    .header-bottom-side-right{
        width: 100%;
    }

    #mobile-dell{
        display: none;
    }

    .lupa2{
        display: block;
    }

    .header-baseboard{
        background-color: black;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .header-baseboard{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .brand {
        max-height: 50px; 
    }

    .brand.bold {
        max-height: 50px; 
    }

    #estrela2{
        padding-right: 150px;
    }

    #estrela1{
        padding-left: 100px;
    }
    
    
}

/*media queries*/

/*header */


/*main*/

main{
    background-color: white;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
    
}

.section-title{
    font-family: "integral cf";
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.cols{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-self: center;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
}

.product{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    justify-content: center;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    width: 120px;
    padding-top: 5px;
}

.price{
    width: 50px;
    padding-top: 5px;
}

.price-promo{
    width: 170px;
}

.product img:first-child{
    width: 90%;

}

.button-view{
   align-items: center;
   justify-self: center;
   padding-bottom: 100px;
}

.view-button{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    padding: 16px 86px;
    transition: all 0.2s;
    
}

.view-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.division{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dress-style{
    background-color: rgba(240, 238, 237, 1);
    width: 1239px;
    height: 866px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.mobile-show{
    display: none;
}

.dress-title{
    font-family: "Integral CF";
    display: flex;
    align-self: center;
    height: 58px;
    width: 687px;
    font-weight: 700;
    font-size: 40px;
    line-height: 57.6px;
    padding-left: 45px;
    padding-bottom: 70px;
    padding-top: 70px;
}

.dress-upper{
    flex-direction:row;
    display: flex;
    align-items: center;
    padding-left: 65px;
    padding-top:70px;

}

.dress-upper img{
    margin-right: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

.dress-upper img:hover{
    transform: translateY(-5px);
}

.dress-botton{
    flex-direction:row;
    display: flex;
    align-items: center;
    padding-left: 65px;
    padding-top: 25px;
}

.dress-botton img{
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.dress-botton img:hover{
    transform: translateY(-5px);
}

.ratings-header{
    display:flex;
    align-items: center;
}

.ratings-tittle{
    font-family: "integral cf";
    font-size: 48px;
    font-weight: 700;
    line-height: 57.7px;
    padding-top: 100px;
    padding-bottom: 75px;
    display: flex;
    align-items: start;

}

.directions {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    margin-left: 70%;

}
.directions img {
    top: 50%;
    cursor: pointer;

}

.avaliations{
    display: flex;
    
}

.name{
    display: flex;
    padding-top: 10px;
}

.rating{
    color: black;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius:48px; 
    border:  solid #0000001A;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 25px;
    margin-bottom: 200px;
}

.rating-string{
    padding: 10px 10px;
}



@media(max-width: 800px){

    main{
        max-width: 100%;
    }

    .cols{
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        padding-left: 10px;
    }
    
    .product{
        width: 100%;
    }

    .mobile-dellet{
        display: none;
    }

    .mobile-show{
        display: flex;
    }

    .dress-style{
        display: block;
        width: 95%;
        height: auto;
        justify-self: center;
        align-self: center;
        padding-left: none;
        flex-wrap: wrap;
        padding: none;
        margin-bottom: 25px;
    }

    .dress-title{
        font-family: "Integral CF";
        display: flex;
        align-self: center;
        justify-self: center;
        height: 58px;
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        line-height: 57.6px;
        padding-left: 75px;
        padding-bottom: 100px;
        padding-top: 70px;
        
    }

    .dress-title h3{
        justify-self: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .dress-upper{
        flex-direction: column;
        justify-self: center;
        padding-right: 30px;
    }

    .dress-upper img{
        padding-top: 25px;
        justify-self: center;
        width: 100%;
        
    }

    .dress-botton{
        flex-direction: column;
        justify-self: center;
        padding-right: 30px;
        padding-bottom: 50px;
    }

    .dress-botton img{
        padding-bottom: 25px;
        width: 100%;
    }
    
    .ratings-tittle{
        width: 50%;
        font-size: 33px;
    }

    .avaliations{
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        padding-left: 10px;
    }

    .directions{
        padding-left: none;
        padding-top: none;
        margin-left: 30%;
    }

    .ratings-header{
        padding: none;
        width: 100%;
    }
}

/* main */

/* footer */

footer{
    background-color: rgba(240, 240, 240, 1);
    align-items: center;
    justify-content: center;
}

.footer-back{
    background: linear-gradient(to top, rgba(240, 240, 240, 1) 50%, white 50%);
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.email-update{
    background-color: black;
    align-self: center;
    display: flex;
    padding: 50px 75px;
    border-radius: 20px;
    max-width: 1300px;
    
    
}

.email-update-left{
    margin-right: 200px;
}

.email-update-left h3{
    font-family: "Integral CF";
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    
}


.email-update-rigt-top{
    align-items: center;
    display: flex;
}

.txtemail{
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    background-size: 20px;
    padding-left: 30px;
}

.carta{
    position: absolute;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 5px;
}

.email-update-right-bot{
    padding-top: 15px;
    align-items: center;
    display: flex;
}

.email-update-right-bot button{
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    background-size: 20px;
    padding-left: 30px;
    cursor: pointer;
    
}

.infos{
    padding-top:75px;
    padding-left: 50px;
    max-width: 1300px;
    display: flex;
}

.infos-footer{
    display: flex;
    justify-content: center;
    
}

.infos-title-side{
    margin-right: 100px;
}

.infos-title-side img{
    padding-bottom: 25px;
}

.infos-title-side p{
    font-family: "Satoshi";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.infos-title-side ul{
    list-style: none;
    display: flex;
    padding-top: 35px;
}

.infos-title-side li{
    padding-right: 10px;
}

.infos-column{
    margin-right: 100px;
}

.infos-grid{
    display: flex;
    align-items: center;
}

.infos-column h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 3px;
}

.infos-column ul{
    list-style: none;
}

.infos-column li{
    margin-top: 22px;
    cursor: pointer;
}

.infos-column p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.footer-final{
    display: flex;
    justify-self: center;
    padding-top: 25px;
    width: 100%;

}

.footer-final p{
    display: flex;
    justify-self: center;
    padding-top: 10px;
    margin-right: 60%;
    
}

.payments{
    width: 700px;
}

.rights{
    margin-right: 550px;
}

@media(max-width: 800px){
    .email-update{
        flex-direction: column;
        width: 90%;
    }

    .email-update-left {
        width: 100%;
        padding-bottom: 5px;
    }

    .email-update-right-top{
        width: 100%;
    }

    .email-update-right-top input{
        width: 100%;
    }

    .email-update-right-bot{
        width: 100%;
    }

    .email-update-right-bot button{
        width: 100%;
    }

    .infos-footer{
        display: block;

    }

    .division img{
        width: 100%;
    }

    .infos-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 75px;
        width: 100%;
        column-gap: 0cm;
        margin: none none;
        padding: none none;
        margin-left: 10%;
    }

    .footer-final{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        display: block;
        width: auto;
        padding-left: 350px;

    }

    .footer-final p{
        display: flex;
        justify-self: center;
        padding-top: 10px;
        padding-left: 35px;
        margin-right: auto;
        
    }

    .rights{
        margin-right: none;
        justify-self: center;
        align-items: center;

    }

    .payments{
        justify-self: center;
    }
    
    }
    
    .rights{
        margin-right: 550px;
    }

}