*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Satoshi";
    background-color: gray;
}

/* sing up warning*/

.topo{
    background-color: black;
    color: aliceblue;
    height: 40px;
    padding-top: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;

}

/* sing up warning*/

/*header*/

.cabeca{
    color: white;
}

.hud{
    height: 100px;
}

.BarraDePesquisa{
    background-color: #F0F0F0;
    border:none;
    border-radius:30px;
    width: 600px;
    height: 42px;
    margin-right: 1.5rem;


  }
  
  #txtbusca{
    float:left;
    border-color: none;
    background-color: transparent;
    cursor: pointer;
    padding-left:  10px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size:15px;
    border:none;
    height: 38px;
    width: 550px;
  
  }

.BarraDePesquisa img{
    float:left;
    padding-top: 8px;
    padding-left: 7px;
    padding-bottom: 2px;
    cursor: pointer;
  }

  .navbar{
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
  }

  .options{
    list-style: none;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor:pointer;

  }

  .options ul li{
    padding-top: 5px;
   
   
  }

  .options ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
  }


.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-inner-content-bottom{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.hud{
    background-color: white;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-button{
    display: none;
    cursor: pointer;
    padding-left: 10px;
}

.logo{
    color: black;
    font-weight: 100;
}


nav ul{
   display: flex;
    list-style: none;
    align-items: center;
    padding-top: 43px;
}

nav img {
    cursor: pointer;
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li:first-child{
    padding-left: 10px;
    margin-right: 5px;
}

nav ul img{
    cursor: pointer;
    margin-right: 1.5rem;
}

nav ul li{
    color: #000;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

header{
    background-color: #F2F0F1;
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 663px;
    overflow: hidden;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
    padding-top: 100px;
}

.header-bottom-side-left h2{
    font-family: "Integral CF";
    font-size: 68px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 25px;
}

.header-bottom-side-left p{
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    
}

.header-bottom-side-left button{
    background-color: black;
    color: #F2F0F1;
    border: none;
    cursor: pointer;
    padding: 15px 64px;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s;
    margin-bottom: 40px;
}

.header-bottom-side-left button:hover{
    background-color: #333131;
}


.header-bottom-side-left ul{
    display:flex;
    list-style: none;
    align-items: center;
    font-size: 45px;
    line-height: 54px;
    padding-top: 20px;
    margin-right: 20px;
}
.header-bottom-side-left ul li img{
    padding-bottom: 25px;
}

.header-bottom-side-left ul li{
    list-style: none;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;

}

.header-bottom-side-right{
    height: 100%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    overflow: absolute;
    
}

.header-bottom-side-right ul li{
    display: flex;
    align-items: center;
    list-style: none;
    overflow: absolute;
}

#estrela1{
    overflow:visible;
    position: absolute;
    padding-bottom: 200px;
    padding-right: 500px;
}

#estrela2{
    overflow: visible;
    position: absolute;
    padding-left: 550px;
    padding-bottom: 500px;
}

#casal{
    height: 1000px;
    margin: 0 auto;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-position: center;
    padding-bottom: none;
    padding-top: 50px;
    

}

.header-baseboard{
    background-color: #000;
    width: 100%;
    height: 122px;
    align-items: center;
    padding: 50px;

}

.header-baseboard ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding-left: 30px;
}

.header-baseboard ul li{
    padding-right: 100px;
}

/*media queries*/
@media(max-width: 1165px){

    .menu-button{
        display: block;
    }

    .logo{
        align-items: center;
        margin-left: 10px;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        display: block;
        top: 100px;
    }

    .BarraDePesquisa{
       display: none; 
    }

    .header-inner-content{
        display:block;
        height: 100px;

    }
    
    .options{
        padding-left: 0px;
        margin-right: 400px;
    }

    .logo{
        margin-right: 500px;
    }

    .header-inner-conten:first-child{
        flex-direction: column;
    }

    .show-menu{
        display: none;
    }

    nav{
        position:absolute;
        background: white;
        width: 100%;
        height: 100%;
        top: 25px;
        display: flex;
        display: none;

    }


    nav ul{
        flex-direction: column;
        width: 250px;
        padding-top: 100px;
        padding-right: d;
        background-color: white;
        display: none;
    }
    

    .show-menu{
        display: block
    } ;

    .options{
        
    }

    nav ul{
        text-align: center;
    }
    
    nav ul li {
        text-align: center;
        padding-top: 25px;
    }

    .header-bottom-side{
        flex: column;
        display: flex;
        height: 1500px;
    }

    .header-bottom-side-left{
        flex: column;
    }

    .header-bottom-side-right {
        width: 100%;
        height: 600px;
        flex: column;
    }

    .header-baseboard{
        flex: column;
       
    }
    

}

/*media queries*/

/*header */


/*main*/

main{
    background-color: white;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    display: flex;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translateY(-5px);
}

.product{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    width: 200px;
}

.price{
    width: 50px;
}

.price-promo{
    width: 200px;
}

.product img:first-child{
    width: 80%;

}